<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.development.tymo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".TymoApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login1Activity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- floating-plateau-35187 -->
        <!-- <meta-data android:name="CLOUDINARY_URL" android:value="cloudinary://392512249626575:883M2n_JJty1Fcx7kVYg6qvCoyw@hvfrjtvkm"/> -->

        <!-- tymo-server -->
        <meta-data android:name="CLOUDINARY_URL" android:value="cloudinary://381773179253939:z4lejziSvxEMuWx9tux3RVzd1JU@hzkeshb5l"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJ-Vy89GmAE6mU3Zro9eQIXlrJzBbkFaA" />

        <!-- A child of the main activityServer -->
        <activity
            android:name=".activities.AddActivity"
            android:label="AddNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.IntroActivity"
            android:label="IntroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
            tools:replace="android:theme"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme"
            android:label="@string/app_name" />

        <activity
            android:name=".Login2Activity"
            android:label="LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.AccountActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AccountActivity" />
        </activity>

        <activity
            android:name=".activities.AccountActivity"
            android:label="ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.SettingsActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:name=".activities.PrivacyActivity"
            android:label="ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.SettingsActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:name=".activities.NotificationCenterActivity"
            android:label="NotificationsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.SettingsActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:name=".activities.BlockedUsersActivity"
            android:label="ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.SettingsActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:name=".activities.MyInterestsActivity"
            android:label="PreferencesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.SettingsActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:name=".activities.ContactUsSettingsActivity"
            android:label="ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.SettingsActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:name=".activities.ContactsActivity"
            android:label="ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.RegisterPart1Activity"
            android:label="RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.RegisterPart2Activity"
            android:label="RegisterPart2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.RegisterPart1Activity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RegisterPart1Activity" />
        </activity>

        <activity
            android:name=".activities.RegisterPart3Activity"
            android:label="RegisterPart3Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.RegisterPart2Activity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RegisterPart2Activity" />
        </activity>

        <activity
            android:name=".activities.CommitmentsOfTheDayActivity"
            android:label="NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
        android:name=".activities.SelectPeopleActivity"
        android:label="SelectPeopleActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name=".activities.ShowGuestsActivity"
            android:label="ShowGuestsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name=".activities.SelectTagsActivity"
            android:label="SelectTagsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name=".activities.InviteActivity"
            android:label="InviteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.FriendRequestActivity"
            android:label="FriendRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".LoginForgotActivity"
            android:label="ForgotLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label="AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.AboutFriendActivity"
            android:label="AboutFriendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activities.FriendProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FriendProfileActivity" />
        </activity>

        <activity
            android:name=".activities.RecoverActivity"
            android:label="CustomizeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name=".activities.ShowActivity"
            android:label="ShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>


        <activity
            android:name=".activities.MainActivity"
            android:label="MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.FriendProfileActivity"
            android:label="FriendProfileActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.CompareActivity"
            android:label="CompareActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.FilterActivity"
            android:label="FilterActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".LoginPasswordResetActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http"
                    android:host="tymo" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activities.FlagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ReminderActivity"
            android:label="AddNewReminder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activities.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- [START firebase_service] -->
        <service
            android:name=".utils.TymoMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".utils.FirebaseTymoIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        
    </application>

</manifest>